<% layout('layouts/boilerplate') -%>

<div class="container-fluid justify-content-center align-items-center my-3">
  <div class="row flex-fill">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">New Post</h5>
          <form action="/posts" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label" for="title">Title: </label>
              <input class="form-control" type="text" id="title" name="post[title]" placeholder="Title">
            </div>

            <div class="mb-3">
              <label class="form-label" for="price">Price: </label>
              <input class="form-control" type="number" id="price" name="post[price]" step=".01" placeholder="Price">
            </div>

            <div class="mb-3">
              <label class="form-label" for="imageUpload">Images: </label>
              <input class="form-control" type="file" id="imageUpload" accept="images/*" name="images" multiple />
            </div>

            <div class="mb-3">
              <label class="form-label" for="description">Description: </label>
              <textarea class="form-control" name="post[description]" id="description" placeholder="Description"></textarea>
            </div>

            <div class="mb-3">
              <label class="form-label" for="location">Location: </label>
              <input class="form-control" type="text" id="location" name="post[location]" placeholder="Location">
            </div>

            <div class="d-grid mb-3">
              <input class="btn btn-info" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>